__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.egg-info/
dist/
build/
.eggs/
*.egg
*.whl
*.DS_Store
*.coverage
*.pytest_cache/
.vscode/
.idea/
*.iml

venv/
env/
ENV/

telegram-secret.yaml
